################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TaskManagement/.vs
/TaskManagement/obj/Debug/net6.0
/TaskManagement/obj
/.vs
/TaskManagement/bin/Debug/net6.0
/TaskManagement/Migrations
